<!--Nav Bar-->
<div class="container navBar">
    <div class="row">
      <div class="col-xs-6">
        <select class="dropDown" [(ngModel)]="selectedSort" (click)="SortingResult()">
          <option value="NameAlphabeticallyAZ">Sort By Name (A-Z)</option>
          <option value="NameReverseAlphabeticallyZA">Sort By Name (Z-A)</option>
          <option value="RankUp">Sort By Rank Up</option>
          <option value="RankDown">Sort By Rank Down</option>
        </select>
      </div>
      <div class="col-xs-6">
        <input type="text" id="inputName" [(ngModel)]="inputName" placeholder="Search by Names like Shantanu.." />
        <button class="searchButton" (click)="searchByName()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
</div>